<a href="https://colab.research.google.com/github/Muhliscm/Course-era-captone/blob/master/Collecting_data_using_APIs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests

In [2]:
#finding no of people on international space station
api_url = "http://api.open-notify.org/astros.json"

In [3]:
response = requests.get(api_url)

In [4]:
if response.ok:
  data = response.json()

In [5]:
print(data)

{'message': 'success', 'number': 7, 'people': [{'craft': 'ISS', 'name': 'Sergey Ryzhikov'}, {'craft': 'ISS', 'name': 'Kate Rubins'}, {'craft': 'ISS', 'name': 'Sergey Kud-Sverchkov'}, {'craft': 'ISS', 'name': 'Mike Hopkins'}, {'craft': 'ISS', 'name': 'Victor Glover'}, {'craft': 'ISS', 'name': 'Shannon Walker'}, {'craft': 'ISS', 'name': 'Soichi Noguchi'}]}

In [6]:
print(data.get('number'))

7

In [7]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And Their names are: ")
for astronaut in astronauts:
  print(astronaut.get('name'))

There are 7 astronauts on ISS
And Their names are:
Sergey Ryzhikov
Kate Rubins
Sergey Kud-Sverchkov
Mike Hopkins
Victor Glover
Shannon Walker
Soichi Noguchi

###**Collecting job Data using gitHub jobs API**

In [8]:
import requests

In [9]:
baseurl = "http://jobs.github.com/positions.json"

In [ ]:
response.headers

In [ ]:
response = requests.get(new)

In [ ]:
if response.ok:
  data = response.json()

In [ ]:
print(len(data))

In [ ]:
response = requests.get(baseurl)

In [75]:
def get_number_of_jobs(technology):
  
  number_of_jobs = 0
  page_number = 0
  l = 0
  #your code goes here
  url = f"{baseurl}?description={technology}"

  response = requests.get(url)
  
  if response.ok:
    data = response.json()
  
  l = len(data)

  while l >= 50:
    number_of_jobs +=l
    page_number += 1
    url = f"{url}&page={page_number}"
    response = requests.get(url)
    data = response.json()
    l = len(data)
  
  else:
    number_of_jobs += l

  return technology, number_of_jobs

In [76]:
print(get_number_of_jobs('java'))

('java', 116)

In [86]:
list = []
list.append(get_number_of_jobs('java'))

In [89]:
print(type(list[0]))

<class 'tuple'>

In [70]:
from openpyxl import Workbook

wb = Workbook()
ws = wb.active
ws.append(['Countery', 'Continent'])
ws.append(['Eygpt', 'Africa'])
ws.append(['India', 'Asia'])
ws.append(['France', 'Europe'])
wb.save('Countries.xlsx')

In [71]:
!ls

Countries.xlsx	sample_data

In [73]:
import pandas as pd
x = pd.read_excel('Countries.xlsx')

In [74]:
x

  Countery Continent
0    Eygpt    Africa
1    India      Asia
2   France    Europe

In [82]:
technologies = ["C", "C#", "C++", "Java", "JavaScript", "Python", "Scala", "Oracle", "SQL Server", "MySQL Server", "PostgreSQL",  
                "MongoDB"]

In [85]:
for tech in technologies:

<class 'str'>
C
<class 'str'>
C#
<class 'str'>
C++
<class 'str'>
Java
<class 'str'>
JavaScript
<class 'str'>
Python
<class 'str'>
Scala
<class 'str'>
Oracle
<class 'str'>
SQL Server
<class 'str'>
MySQL Server
<class 'str'>
PostgreSQL
<class 'str'>
MongoDB