<a href="https://colab.research.google.com/github/Muhliscm/Course-era-captone/blob/master/Collecting_data_using_APIs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import requests

In [4]:
#finding no of people on international space station
api_url = "http://api.open-notify.org/astros.json"

In [5]:
response = requests.get(api_url)

In [6]:
if response.ok:
  data = response.json()

In [7]:
print(data)

{'message': 'success', 'number': 7, 'people': [{'craft': 'ISS', 'name': 'Sergey Ryzhikov'}, {'craft': 'ISS', 'name': 'Kate Rubins'}, {'craft': 'ISS', 'name': 'Sergey Kud-Sverchkov'}, {'craft': 'ISS', 'name': 'Mike Hopkins'}, {'craft': 'ISS', 'name': 'Victor Glover'}, {'craft': 'ISS', 'name': 'Shannon Walker'}, {'craft': 'ISS', 'name': 'Soichi Noguchi'}]}

In [8]:
print(data.get('number'))

7

In [9]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And Their names are: ")
for astronaut in astronauts:
  print(astronaut.get('name'))

There are 7 astronauts on ISS
And Their names are:
Sergey Ryzhikov
Kate Rubins
Sergey Kud-Sverchkov
Mike Hopkins
Victor Glover
Shannon Walker
Soichi Noguchi

###**Collecting job Data using gitHub jobs API**

In [10]:
import requests

In [11]:
baseurl = "http://jobs.github.com/positions.json"

In [12]:
response.headers

{'Server': 'nginx/1.10.3', 'Date': 'Mon, 11 Jan 2021 17:14:55 GMT', 'Content-Type': 'application/json', 'Content-Length': '356', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [13]:
if response.ok:
  data = response.json()

In [14]:
print(len(data))

3

In [15]:
response = requests.get(baseurl)

In [16]:
def get_number_of_jobs(technology):
  
  number_of_jobs = 0
  page_number = 0
  l = 0
  #your code goes here
  url = f"{baseurl}?description={technology}"

  response = requests.get(url)
  
  if response.ok:
    data = response.json()
  
  l = len(data)

  while l >= 50:
    number_of_jobs +=l
    page_number += 1
    url = f"{url}&page={page_number}"
    response = requests.get(url)
    data = response.json()
    l = len(data)
  
  else:
    number_of_jobs += l

  return technology, number_of_jobs

In [17]:
print(get_number_of_jobs('java'))

('java', 112)

In [18]:
from openpyxl import Workbook

wb = Workbook()
ws = wb.active
ws.append(['Countery', 'Continent'])
ws.append(['Eygpt', 'Africa'])
ws.append(['India', 'Asia'])
ws.append(['France', 'Europe'])
wb.save('Countries.xlsx')

In [19]:
!ls

Countries.xlsx	sample_data

In [20]:
import pandas as pd
x = pd.read_excel('Countries.xlsx')

In [21]:
x

  Countery Continent
0    Eygpt    Africa
1    India      Asia
2   France    Europe

In [79]:
technologies = ["C", "C%23", "C++", "Java", "JavaScript", "Python", "Scala", "Oracle", "SQL Server", "MySQL Server", "PostgreSQL",  
                "MongoDB"]

In [80]:
technologies

['C',
 'C%23',
 'C++',
 'Java',
 'JavaScript',
 'Python',
 'Scala',
 'Oracle',
 'SQL Server',
 'MySQL Server',
 'PostgreSQL',
 'MongoDB']

In [23]:
from openpyxl import Workbook

In [84]:
new_wb = Workbook()
ws = new_wb.active
ws.append(['Technologies', 'Jobs'])

In [91]:
for tech in technologies:
  s = get_number_of_jobs(tech)
  ws.append(s)
new_wb.save("github-job-postings.xlsx")
print("Task completed")

Task completed

In [92]:
!ls

Countries.xlsx	demo.xlsx  github-job-postings.xlsx  Jobs.xlsx	sample_data

In [93]:
df = pd.read_excel('github-job-postings.xlsx')

In [102]:
df['Technologies'][1] = 'C#'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [103]:
df

    Technologies  Jobs
0              C   184
1             C#    12
2            C++   184
3           Java   112
4     JavaScript    42
5         Python    31
6          Scala    32
7         Oracle     2
8     SQL Server    12
9   MySQL Server     3
10    PostgreSQL    12
11       MongoDB     8